.nav{
  justify-content: space-between;
}

.header{
  padding: 45px 0;
  border-bottom: 1px solid #EAEAEA;
}

.userListIcons{
  gap: 30px;
}

.cartIcon{
  text-decoration: none;
}

.userItem {

}

.totalPriceCart {
  
}